:root {
    --SideBar: rgba(68, 61, 230, 0.566);
    --PageBackground: rgb(20, 20, 20);
}

* {
    background-color: var(--PageBackground);
    border: none;
    box-sizing: border-box;
    color: white;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'B612';
    src: url('Assets/Fonts/B612-Regular.ttf');
}

@font-face {
    font-family: 'B612-Mono';
    src: url('Assets/Fonts/B612Mono-Regular.ttf');
}

.card-img {
    float: left;
    height: 100px;
    object-fit: cover;
    width: 100px;
}

h5 {
    margin: 0;
    padding: 0;
}

/* Air Connecta Sequence */
.airlineDiv {
    background-color: var(--PageBackground);
    padding-top: 10px;
}

.airline-sidebar {
    position: absolute;
    top: 80%;
    left: 3%;
    height: 140px;
    width: 90%;
    padding: 20px;
    background-color: var(--PageBackground);
    transition: width 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
}

.airline-tab, .nav-button {
  visibility: visible;
  height: 100px;
  width: auto;
  cursor: pointer;
}

.airline-tab {
  flex: 1;
  margin: 0 5px;
}

.nav-button {
  width: 30px;
}

#AirConnectaOperatorSidebar {
    position: absolute;
    top: 10%;
    background-color: var(--PageBackground);
    height: 100px;
    min-height: 20px;
    width: 10%;
    float: inline-end;
    display: grid; 
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    gap: 10px;
    transition: width 1s ease-in-out 0.2s;
}

.Operator-Container {
    width: 100%;
    height: 100px;
    display: grid;
    gap: 10px;
    background-color: var(--PageBackground);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    visibility: hidden;
}

.Operator-Item {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    background-color: inherit;
    object-fit: cover;
    overflow: hidden;
    visibility: visible;
}

/* Introduction Sequence */

.intro-div {
    background-color: var(--PageBackground);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: 1s;
    width: 100%;
    z-index: 1;
}

.logo-header {
    color: white;
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

.logo-header img {
    height: 500px;
    width: 500px;
}

.intro-logo {
    display: inline-block;
    opacity: 0;
}

.intro-logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.4s;
}

.intro-logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Projects Section */

.master-projects-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 100px;
    transition: margin-left 0.3s linear;
}

/* I plan on making this more efficient and scalable in the future*/
.master-projects-div div:nth-child(1) {
    animation-delay: 3000ms;
}

.master-projects-div div:nth-child(2) {
    animation-delay: 3300ms;
}

.master-projects-div div:nth-child(3) {
    animation-delay: 3600ms;
}

.master-projects-div div:nth-child(4) {
    animation-delay: 3900ms;
}

.master-projects-div div:nth-child(5) {
    animation-delay: 4200ms;
}

.master-projects-div div:nth-child(6) {
    animation-delay: 4500ms;
}

.master-projects-div div:nth-child(7) {
    animation-delay: 4800ms;
}

.master-projects-div div:nth-child(8) {
    animation-delay: 5100ms;
}

.master-projects-div div:nth-child(9) {
    animation-delay: 5300ms;
}

.master-projects-div div:nth-child(10) {
    animation-delay: 5500ms;
}

.master-projects-div div:nth-child(11) {
    animation-delay: 5700ms;
}

.master-projects-div div:nth-child(12) {
    animation-delay: 5900ms;
}

.project-card {
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
    margin: 20px;
    opacity: 0;
    animation: fadeIn ease 2.5s forwards;
}

.project-card img {
    width: 100%;
    padding-bottom: 15px;
}

.project-card h5 {
    margin-bottom: 8px;
}

.project-card .btn {
    background-color: white;
    border-radius: 5px;
    border: 4px;
    box-shadow: 0px 2px 4px color(display-p3 0.8275 0.7608 0.9843);
    color: black;
    display: inline-block;
    margin: 16px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    text-decoration: none;
    transition: box-shadow 0.5s ease;
    white-space: nowrap;
    width: 28%;
}

.Externals{
    width: 90%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: space-between;
}

.Externals > *{
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0px 2px 4px color(display-p3 0.8275 0.7608 0.9843);
    transition: box-shadow 0.5s ease;
    padding: 10px;
    margin: 10px;
}

.Externals > *:hover{
    box-shadow: 0px 2px 80px rgb(112, 0, 203);
}

.Externals i{
    font-size: xx-large;
}

.project-card .btn:hover, .RCL_main .btn:hover{
    box-shadow: 0px 2px 80px rgb(112, 0, 203);
}

/* Side Bar */

nav {
    background-color: var(--PageBackground);
    bottom: 0px;
    box-shadow: 0 20px 35px 2px var(--SideBar);
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    transition: all 0.5s ease;
    transition: width 0 2s linear;
    width: 80px;
}

nav a span {
    font-size: 18px;
}

nav a i,
nav a span {
    background-color: inherit;
}

.logo {
    display: flex;
    margin: 10px 0 0 10px;
    text-align: center;
    transition: all 1 ease;
    transition: all 1s ease;
}

.logo:hover img,
.logo:hover .nav-bar {
    animation-direction: alternate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: logo-hover;
    animation-timing-function: linear;
}

.logo img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
}

nav a {
    color: rgb(98, 98, 98);
    display: table;
    font-size: 14px;
    height: 75px;
    padding-bottom: 25px;
    padding: 10px;
    position: relative;
    transition: all 0.5s ease;
    width: 300px;
}

.fas {
    font-size: 25px;
    height: 40px;
    position: relative;
    text-align: center;
    top: 14px;
    width: 70px;
}

.nav-item {
    margin-left: 10px;
    position: relative;
    top: 12px;
}

nav a:hover {
    background: white;
}

nav a:hover i,
nav a:hover span {
    color: black;
}

nav:hover {
    transition: all 0.5s ease;
    width: 280px;
}

ul {
    list-style: none;
}

/* Main Page Section */

.main {
    margin-left: 120px;
    margin-top: 40px;
    transition: margin-left 0.5s;
    width: 100%;
    height: 100%;
}

.side-nav:hover+.main,
.side-nav:hover+footer {
    margin-left: 300px;
}

.link-image {
    flex: 0;
    margin: 25px;
    text-align: center;
}

.link-image img {
    display: flex;
    flex-direction: collumn;
    position: absolute;
    text-align: center;
}

/* Recipe Page */

.recipes_header {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

.paragraph_spacing {
    line-height: 120%;
    margin-left: 4%;
}

.recipe_time>*,
.recipe_time {
    background-color: rgb(250, 236, 236);
    width: 50%;
}

.recipe_time {
    border-color: rgb(0, 0, 0);
    border-radius: 0.1%;
    border-style: double;
    border-width: 4px;
}

.recipe_time_title {
    margin-left: 2%;
}

.recipe_list {
    list-style-type: none;
    text-align: center;
}

.right {
    text-align: right;
}

.outer {
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: block;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.inner {
    background-repeat: no-repeat;
    background-size: 200px 200px;
    cursor: pointer;
    display: block;
    height: 300px;
    width: 1200px;
}

.outer:hover .inner,
.outer:focus .inner {
    animation: swap 8s ease-in-out infinite 2s;
}

/* Server Page CSS */
/* Chart Section */

.master-chart-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.DiagramIframe {
    height: 500px;
    width: 500px;
}

.ChartDiv {
    background-color: var(--SideBar);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    height: 150px;
    margin: 50px;
    position: relative;
    transition: opacity 0.5s, visibility 0.5s;
    width: 300px;
}

.ChartDiv iframe {
    background-color: var(--SideBar);
    border-radius: 5px;
    display: block;
    height: 100%;
    padding: 10px;
    transition: height 1s ease 2s, width 1s ease 2s, border-radius 1s linear 2s;
    width: 100%;
}

.OverlayText {
    background-color: var(--PageBackground);
    color: rgb(204,205, 238);
    font-size: 15px;
    left: 50%;
    opacity: 100%;
    padding: 10px 20px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease 2s;
}

.LowerText{
    background-color: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    padding: 15px;
    transition: opacity 1s ease 2s;
    width: 300px;
}

.ChartDiv:hover iframe {
    height: 500%;
    width: 500%;
}

.ChartDiv:hover .LowerText{
    opacity: 0;
}

.ChartDiv:hover .OverlayText {
    opacity: 0;
}
.Arrival_Departure_Sign{
    background-color: rgb(255, 49, 49);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.flight_grid {
    background-color: #1e1e1e;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.flight_column {
    background-color: #2d2d2d;
    border-radius: 8px;
    border: 2px solid #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.flight_column span {
    color: #f5f5f5;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.flight_complete {
    background-color: var(--PageBackground);
    border-radius: 4px;
    border: 1px solid #555;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10px;
    padding: 5px;
    transition-duration: 0.6s;
    transition-property: transform, background-color, box-shadow;
    transition-timing-function: ease;
}

.flight_complete .flight_info {
    font-family: "B612-Mono", monospace;
    font-weight: bold; 
    color: #e0e0e0; 
    text-align: center; 
}

.flight_info {
    font-family: "B612-Mono", monospace;
    color: #ccc;
    text-align: center;
}

.flight_complete:hover {
    background-color: #686868;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.state-selector, .airport-selector {
    appearance: none;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #555;
    color: rgb(221, 219, 241);
    font-family: "B612-Mono", monospace;
    font-size: 0.9em;
    outline: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.airport-selector:hover, .state-selector:hover{
    background-color: var(--SideBar);
}

.selected-airport {
    color: rgb(221, 219, 241);
    font-family: "B612-Mono", monospace;
    font-size: 1em;
    padding-left: 90px;
}

.RCL_main > * {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInSlideUp 1.2s ease-out forwards;
}
  

.RCL_main p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.title{
    display: inline-block;
    font-size: 22pt;
}

.subtitle{
    color: rgb(45, 173, 253);
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section_title{
    color: rgb(45, 104, 253);
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.entrance-display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
.RCL_table{
    text-align: left;
    width: 80%;
    margin-left: 40px;
    border-collapse: collapse;
    margin-top: 20px;
    transform: scale(0.2);
}

.RCL_table a{
    background-color: inherit;
}

.github-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #2d2d2d31, #bfbfbf);
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}

.github-button i {
    margin-right: 8px;
    font-size: 20px;
}

.github-button:hover {
    background: #bfbfbf;
    transform: translateY(-3px);
    box-shadow: 0px 2px 50px rgb(112, 0, 203);
}

.github-button:active {
    background: #222;
    transform: translateY(1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.stylized-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #9ff4ff, #2575fc);
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.stylized-button-bw {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #ffffff, #000000);
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.stylized-button:hover {    
    box-shadow: 0px 2px 50px rgb(112, 0, 203);
}

.stylized-button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.RCL_table, .RCL_table tr{
    background-color: var(--PageBackground);
    transition-duration: 1s;
    transition-property: background-color, transform, box-shadow;
}

.RCL_table, .RCL_table tr:hover td{
    transition-property: background-color;
    transition-duration: 1s;
    /* transition-timing-function: ease; */
}

.RCL_table, .RCL_table th, .RCL_table td{
    border:1px solid white;
    padding: 4pt;
}

.RCL_table, .RCL_table tr:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.RCL_table, .RCL_table tr:hover td{
    background-color: var(--SideBar);
}

.Panoramic56Dot{
    width: 95%;
    height: 400px;
    text-align: center;
    margin: 5px;
}

.Panoramic56Dot img{
    height: auto;
}

.RCL_main .btn{
    border-style: solid;
    border-radius: 5px;
    font-size: 25px;
    border-color: var(--SideBar);
    transition: box-shadow 0.5s ease;
}

.RCL_main .bxl-github{
    font-size: 10px;
    margin: 10px;
}
.bxl-github, .bxl-linkedin-square, .bxl-reddit{
    font-size: 17px;
    color: inherit;
    background-color: inherit;
}

.grid_div tr, .grid_div td{
    border:1px solid white;
    height: 60pt;
    text-align: center;
    width: 60pt;
    margin: 10px;
    padding: 10px;
}

.open_cell{
    background-color: inherit;
}
.closed_cell{
    background-color: rgb(255, 255, 255);
}
.start_cell{
    background-color: green;
}
.end_cell{
    background-color: red;
}
.moving_cell{
    background-color: var(--SideBar);
}
.shortest_path_cell{
    background-color: rgb(0, 154, 159);
}
.temp_start{
    background-color: rgb(177, 255, 177);
}
.py-terminal{
    margin-top: 20px;
    width: 640px;
    height: auto;
    border: white dashed 4px;
}
.component_list *{
    margin-bottom: 10px;
    margin-top: 10px;
}
.screenshot_list{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.screenshot_list li{
    border: #2d2d2d solid 1px;
    padding: 10px;
    margin: 10px;
}
.quote{
    text-indent: 50px;
    margin-left: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-left: rgb(123, 123, 123) solid 4px;
}

.start_btn, .restart_btn, .status, .random_btn, .move_endpoints_btn, .change_size_btn, .test_grid_btn{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 4px;
    box-shadow: 0px 4px 6px color(display-p3 0.8275 0.7608 0.9843);
    color: black;
    display: inline-block;
    margin: 16px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    text-decoration: none;
    transition: box-shadow 0.5s ease;
    white-space: nowrap;
    width: 80%;
}
.start_btn:hover, .restart_btn:hover, .random_btn:hover, .move_endpoints_btn:hover, .change_size_btn:hover, .test_grid_btn:hover{
    box-shadow: 0px 2px 50px rgb(112, 0, 203);
}
.negative_cell{
    background-color: rgba(255, 0, 0, 0.647);
}

button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.buttons_div{
    display: grid;
    width: 640px;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.size_selector{
    appearance: none;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #555;
    color: rgb(221, 219, 241);
    font-family: "B612-Mono", monospace;
    font-size: 0.9em;
    outline: none;
    padding: 8px 12px;
}


.status{
    background-color: var(--PageBackground);
    color: rgb(255, 190, 190);
    height: auto;
}

.AboutMain > *{
    opacity: 0;
    transform: translateY(50px);
    padding: 10px;
    animation: fadeInSlideUp 1.2s ease-out forwards;
}

@keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(+50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes swap {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-300px)
    }

    50% {
        transform: translateX(-600px)
    }

    75% {
        transform: translateX(-900px)
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes logo-hover {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(+1turn)
    }
}

/* Special Classes */

.hidden {
    opacity: 0;
    pointer-events: none;
}